extends playlistLayout

block songControls
  button(ng-click='playlist.moveDownSong($index-1)') Up
  button(ng-click='playlist.moveDownSong($index)') Dwn
  button(ng-click='playlist.deleteSong($index)') x
block playlistControls
  div Add song
    ul
      li
        a(href="/pl/{{playlist.pid}}/add") Add Song from URL
      li
        button(ng-show='renaming != 1', ng-click='playlist.renaming()') Rename playlist
        input(type='text', ng-show='renaming == 1', ng-model='inputRename')
      li
        button(ng-click='playlist.delete()') Delete playlist
      
