extends playlistLayout

block songControls
  button(ng-click='playlist.moveDownSong($index-1)') Up
  button(ng-click='playlist.moveDownSong($index)') Dwn
  button(ng-click='playlist.deleteSong($index)') x
block playlistControls
  div Add song
    ul
      li
        a(href="/pl/{{playlist.pid}}/add") Add Song from URL
