section
  button(ng-click='playlist.playPlaylist(0)') Play {{playlist.title}}
  div
    div(ng-switch='playlist.songs.length')
      div(ng-switch-when='0') 0 songs
      div(ng-switch-when='1') 1 song
      div(ng-switch-default) {{playlist.songs.length}} songs
  ul
    li(ng-repeat='song in playlist.songs', ui-draggable='true', drag="song", ng-dblclick="playlist.playPlaylist($index)")
      button(ng-click='playlist.playPlaylist($index)') Play
      {{song.type}} {{song.name}} {{song.star}}
      block songControls
  block playlistControls
