!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Music
    link(rel='stylesheet', href='/css/app.css')
    link(rel='icon', href='/favicon.ico')
  body
    block body
