div(ng-controller='PlayerCtrl')
  div(ng-show='getCurrentSong().type == \'youtube\'')#video
    div#ytplayer
  iframe(ng-show='getCurrentSong().type == \'soundcloud\'')#scplayer
  //img#cover
  div(ng-show='playlist != null')#player
    button(ng-click='prev()') Prev
    button(ng-click='isPaused = !isPaused') {{btnPlayText}}
    button(ng-click='next()') Next
    input(type='range', min='0', max='100', ng-model="volume")
    select(ng-model='mode')
      option repeat
      option repeatone
      option random
    div
      input(type='range', min='0', max='{{maxTime}}', ng-model="currentTime")
    div {{currentSongName}}
    div {{displayTime}}
    div {{playlist.title}} {{1+currentSong.mod(playlist.songs.length)}}/{{playlist.songs.length}}
    input(type='range', min='0', max='1600', ng-model="videoWidth")
