/* app css stylesheet */

.menu {
  margin: 2em;
}

#ytplayer {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

#scplayer {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 355px;
  height: 200px;
}

#player {
  margin-bottom: 100px;
}

#cover {
  width: 200px;
  height: 200px;
}
